# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python 
# azure-monitor-opentelemetry 

azure-functions
agent-framework-foundry==1.2.2
azure-ai-documentintelligence
azure-identity
azure-storage-blob
requests