# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python 
# azure-monitor-opentelemetry 

azure-functions
agent-framework-core==1.2.2
agent-framework-openai==1.2.2
agent-framework-foundry==1.2.2
aiohttp>=3.10,<4
azure-cosmos
azure-ai-documentintelligence
azure-identity
azure-storage-blob
requests